/** 
 * AO3 Choices skin v2.0 tester
 * Copyright (C) 2023  ocremaker
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

html, body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

nav {
    width: 100%;
    height: 1.5em;
    margin: 0;
    box-shadow: 0 0 3px black;
    background: white;
    padding: .5em;
}

nav > p {
    line-height: 100%;
    font-family: sans-serif;
    font-size: 1.2em;
    margin: 0;
}

#panes {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-left: 20px;
}

#first-pane {
    width: calc(50% - 50px);
    height: calc(100vh - 4.5em);
    overflow-y: unset;
    margin-right: 40px;
}

#input {
    height: calc(100% - 4em);
    width: 100%;
    padding: .5em;
    resize: none;
    overflow-y: auto;
}

#output {
    width: calc(50% - 50px);
    display: inline-block;
    height: calc(100vh - 4.5em);
    resize: none;
    overflow-y: unset;
}

#error-text {
    color: red;
    width: 100%;
    height: 3em;
    margin-top: .5em;
    margin-bottom: .5em;
}

#workskin {
    height: calc(100% - 4em);
    width: 100%;
    border: solid 1px black;
    padding: .5em;
    overflow-y: auto;
}
